*.class
*.log
.idea/
.claude/
.classpath
.factorypath
.project
.settings/
target/

# AI
requirements.md

# config profiles
application-*.yml

# Package Files #
*.jar
*.zip
*.tar.gz

# virtual machine crash logs
hs_err_pid*

# maven
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
